{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                {% if object %}
                    <button type="submit" class="btn btn-primary mt-3">Сохранить информацию</button>
                {% else %}
                    <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}