{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OffRoad Market</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
  <ul class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Off-Road Market</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Каталог</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contacts/">Контакты</a>
    </li>
  </ul>
  <div class="text-center mt-3">
    <h1>Off-Road Market</h1>
    <p>Лидирующий магазин по продаже внедорожного тюнинга</p>
  </div>
  <div class="container">
    <div class="row text-center">
      {% for product in products %}
      <div class="col-3">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ product.price }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
              <li>{{ product.description }}</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">
              Купить
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row mt-5 border-top">
    <div class="col-3">
      <p>Off-Road Market</p>
      <p class="text-muted">&copy; 2024</p>
    </div>
    <div class="col-3">
      <h5>Наши Услуги:</h5>
      <ul class="list-unstyled">
        <li class="list-group-item"><a href="#">Подбор оборудования</a></li>
        <li class="list-group-item"><a href="#">Установка оборудования</a></li>
        <li class="list-group-item"><a href="#">Отправка в регионы</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5>Мы в соц. сетях:</h5>
      <ul class="list-unstyled">
          <li class="list-group-item"><a href="#">ВКонтакте</a></li>
          <li class="list-group-item"><a href="#">Telegram</a></li>
          <li class="list-group-item"><a href="#">Instagram</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5>О нас:</h5>
      <ul class="list-unstyled">
          <li class="list-group-item"><a href="/contacts/">Контакты</a></li>
      </ul>
    </div>
  </div>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>

