{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
  <div class="row text-center">
    <div class="col-9">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
        </div>
        <div class="card-body">
          <img src="{{ object.photo | media_filter }}">
          <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
          <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            <li>{{ object.description }}</li>
          </ul>
          <a class="btn btn-primary" href="#" role="button">Купить</a>
          <a class="btn btn-primary" href="{% url 'catalog:update_product' object.pk %}" role="button">Изменить</a>
          <a class="btn btn-primary" href="{% url 'catalog:delete_product' object.pk %}" role="button">Удалить</a>
          <a class="btn btn-primary" href="{% url 'catalog:home_page' %}" role="button">Назад</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}